<!DOCTYPE html>
<html>
<head>
	<title>docentes</title>
</head>
<body>
<h2>Nombres integrantes del equipo docente:</h2>
	<h3>Profesor:<h3>
	<h4>Víctor Hernández<h4>
	<h3>Auxiliares:<h3>
	<h4>José Canto<h4>
	<h4>Jorge Pinto<h4>
	<h4>Javiera Ovalle<h4>
	<h4>Macarena Osorio<h4>
	<h3>Ayudantes:<h3>
	<h4>Victoria Arce<h4>
	<h4>Sofía Herrera<h4>
	<h4>Sebastián Donoso<h4>
	<h4>Nicolás Villa<h4>
	<h4>Matías Rojas<h4>
	<h4>Juan Gutiérrez<h4>
	<h4>Eduardo Valerio<h4>	
	<h4>Catalina Martin<h4>
	<h4>Carlos Vega<h4>

<a href="{% url 'pestaña' %}">Debes entrar aquí</a>
<br>
<a href="{% url 'index' %}">Volver al inicio</a>

	
</body>
</html>
